<body class="back">
<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Bem Vindo</h5>
                    <form [formGroup]="myControl">
                        <div class="form-floating mb-3">
                            <input formControlName="email"  name="email"  type="email" class="form-control" id="email"
                                   placeholder="name@example.com">
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input formControlName="password" name="password" type="password" class="form-control"
                                   id="password" placeholder="password">
                            <label for="password">Senha</label>
                        </div>
                        <div class="d-grid" style="margin-top: 70px">
                            <a>
                                <button class="btn btn-outline-dark fw-bold col-12" type="button" (click)="login()">
                                    Entrar
                                </button>
                            </a>
                        </div>
                        <div class="d-grid" style="margin-top: 10px">
                            <a>
                                <button class="btn btn-outline-secondary fw-bold col-12" type="button"
                                        (click)="cadastro()">
                                    Cadastrar
                                </button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>