<div style="background-color: #ffffff">
    <!-- header da página -->
    <header class="header-top">
        <a>
            <h1 class="header-title" (click)="home()">Health Track</h1>
        </a>
        <div class="d-flex flex-row-reverse">
            <a>
                <i class="fa fa-sign-out" aria-hidden="true" style="color: white" (click)="sair()"></i>
            </a>
        </div>
    </header>
    <header class="sub-header">
        <a style="font-weight: lighter; color: white!important;">
            <p><a (click)="home()" style="font-weight: normal; color: white!important;">Home</a> / Registro de Pressão Arterial</p>
        </a>
    </header>
    <div class="another-test" #asdf>

    </div>
    <div class="container" style="padding: 5%">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 "></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <form [formGroup]="myControl">
                    <div class="form-floating mb-3">
                        <input formControlName="dataRegistro" name="dataRegistro"
                               type="date" class="form-control" id="data" placeholder="data">
                        <label for="data">Data</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="medicao" name="medicao"
                               type="text" class="form-control" id="medicao">
                        <label for="medicao">Medida da Pressão</label>
                    </div>
                    <div class="d-grid" style="margin-top: 10px">
                        <button class="btn btn-secondary col-12" type="button" (click)="salvar()">
                            Registrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <table #matTables mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="registro">
                    <th mat-header-cell *matHeaderCellDef>Registro</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="data">
                    <th mat-header-cell *matHeaderCellDef>Data</th>
                    <td mat-cell *matCellDef="let element"> {{element.dataRegistro| date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="medicao">
                    <th mat-header-cell *matHeaderCellDef>Medicao</th>
                    <td mat-cell *matCellDef="let element"> {{element.medicao}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>