<div style="background-color: #ffffff">
    <header class="header-top">
        <a>
            <h1 class="header-title" (click)="home()">Health Track</h1>
        </a>
        <div class="d-flex flex-row-reverse">
            <a>
                <i class="fa fa-sign-out" aria-hidden="true" style="color: white" (click)="sair()"></i>
            </a>
        </div>
    </header>
    <header class="sub-header">
        <a style="font-weight: lighter; color: white!important;">
            <p><a (click)="home()" style="font-weight: normal; color: white!important;">Home</a> / Registros de
                Refeições</p>
        </a>
    </header>
    <div class="another-test" #asdf>
    </div>
    <div class="container" style=" padding: 5%">
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 "></div>
            <div class="col-sm-8 col-md-8 col-lg-8">
                <form [formGroup]="myControl">
                    <div class="form-floating">
                        <input formControlName="dataRegistro" name="dataRegistro" type="date" class="form-control"
                               id="data" placeholder="data">
                        <label for="data">Data</label>
                    </div>
                    <label for="tipoRefeicao">Tipo Refeições</label>
                    <div class="form-floating mb-3 dropdown">
                        <select formControlName="tipoRefeicao" name="tipoRefeicao" id="tipoRefeicao">
                            <option value=""></option>
                            <option value="CAFE_DA_MANHA">Café da manhã</option>
                            <option value="ALMOCO">Almoço</option>
                            <option value="LANCHE">Lanche</option>
                            <option value="JANTA">Janta</option>
                            <option value="FRUTA">Frutas</option>
                        </select>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="quantidadeEmGramas" name="quantidadeEmGramas" type="text"
                               class="form-control" id="quantidadeEmGramas" placeholder="quantidadeEmGramas">
                        <label for="quantidadeEmGramas">Quantidade em gramas</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input formControlName="descricao" name="descricao" type="text" class="form-control"
                               id="descricao" placeholder="descricao">
                        <label for="descricao">Descrição</label>
                    </div>
                    <div class="d-grid" style="margin-top: 10px">
                        <button class="btn btn-secondary fw-bold col-12" type="button" (click)="salvar()">
                            Registrar
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="row" style="margin-top: 20px">
            <table #matTables mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <ng-container matColumnDef="dataRegistro">
                    <th mat-header-cell *matHeaderCellDef>Data</th>
                    <td mat-cell *matCellDef="let element"> {{element.dataRegistro| date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="tipoRefeicao">
                    <th mat-header-cell *matHeaderCellDef>Tipo Refeições</th>
                    <td mat-cell *matCellDef="let element"> {{element.tipoRefeicao}} </td>
                </ng-container>
                <ng-container matColumnDef="quantidadeEmGramas">
                    <th mat-header-cell *matHeaderCellDef>Quantidade em gramas</th>
                    <td mat-cell *matCellDef="let element"> {{element.quantidadeEmGramas}} </td>
                </ng-container>
                <ng-container matColumnDef="descricao">
                    <th mat-header-cell *matHeaderCellDef>Descrição</th>
                    <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
                </ng-container>

                <ng-container matColumnDef="acao">
                    <th mat-header-cell *matHeaderCellDef> Ação</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button class="pincel" (click)="delete(element)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>